 @model ApiDoc.Models.InterfaceModel

   
<div class="container-fluid">
    <div class="row">
        <div class="col bg-danger">
            <div>
                @Model.Auth 
            </div>
        </div>
        <div class="col bg-info">2</div>
        <div class="col bg-light">3</div>
    </div>
</div>