@model List<ApiDoc.Models.FlowStepHisModel>

<table class="table table-sm m-0 p-0 no-gutters">
    <thead>
        <tr class="row no-gutters fs-14" >
            <th class="col-2  text-center">
                <div class="custom-control custom-checkbox ml-1">
                    <input type="checkbox" class="custom-control-input" name="chkHis" id="hisCheckAll" onchange="checkAll(this,'chkHis_@ViewData["FKSN"]')" />
                    <label class="custom-control-label" for="hisCheckAll"></label>
                </div>
            </th>
            <th class="col-10">文件名称</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var flowStepHis in Model)
        {
            <tr class="row no-gutters fs-14">
                <td class="col-2 text-center">
                    <div class="custom-control custom-checkbox ml-1">
                        <input type="checkbox" class="custom-control-input" id="custCheckHis_@flowStepHis.SN" name="chkHis_@ViewData["FKSN"]" value="@flowStepHis.SN">
                        <label class="custom-control-label" for="custCheckHis_@flowStepHis.SN"></label>
                    </div>
                </td>
                <td class="col-10">
                    @flowStepHis.FileName
                </td>
            </tr> 
        }
    </tbody>
</table>


