@model List<ApiDoc.Models.FlowStepHisModel>

<table id="dgvStepHis_@ViewData["FKSN"]" class="table table-sm m-0 p-0 no-gutters">
    <thead>
        <tr class="row no-gutters fs-14" >
            <th class="col-2  text-center border-top-0">
                <div class="custom-control custom-checkbox ml-1">
                    <input type="checkbox" class="custom-control-input" name="chkHis" id="hisCheckAll" onchange="checkAll(this,'chkHis_@ViewData["FKSN"]')" />
                    <label class="custom-control-label" for="hisCheckAll"></label>
                </div>
            </th>
            <th class="col-10 border-top-0">文件名称</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stepHis in Model)
        {
        <tr class="row no-gutters fs-14 cur-pointer" data-data="{SN:@stepHis.SN}" data-text="@stepHis.Text">
            <td class="col-2 text-center">
                <div class="custom-control custom-checkbox ml-1">
                    @if (stepHis.IsEnable)
                    {
                        <input type="checkbox"
                               class="custom-control-input"
                               id="custCheckHis_@stepHis.SN"
                               name="chkHis_@ViewData["FKSN"]" 
                               checked="checked">
                    }
                    else
                    {
                        <input type="checkbox"
                               class="custom-control-input"
                               id="custCheckHis_@stepHis.SN"
                               name="chkHis_@ViewData["FKSN"]"  >
                    }
                    <label class="custom-control-label" for="custCheckHis_@stepHis.SN"></label>
                </div>
            </td>
            @if (stepHis.IsEnable)
            {
                <td class="col-10 text-success">
                    @stepHis.FileName
                </td> 
            }
            else
            {
                <td class="col-10">
                    @stepHis.FileName
                </td>

            }
        </tr> 
        }
    </tbody>
</table>


