<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <!-- 默认不将 packages 提交到源代码管理 -->
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <!-- 指定这个目录下默认的 packages 目录 -->
    <add key="repositorypath" value="E:\.NetCore3.1\ApiDoc\ApiDoc\PackAges" />
  </config>
  <packageRestore>
    <!-- 默认启用 packages 还原 -->
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <activePackageSource>
    <add key="NuGet 官方程序包源" value="https://nuget.org/api/v2/" />
  </activePackageSource>
</configuration>