@{
    ViewData["Title"] = "Privacy Policy";

}

@section StyleSheet
{
    <link rel="stylesheet" href="~/css/ace.css" />
}

<ul class="nav nav-tabs" id="myTab">
    <li class="active">
        <a data-toggle="tab" href="#home">
            Home
        </a>
    </li>

    <li>
        <a data-toggle="tab" href="#messages">
            Messages
        </a>
    </li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
    </div>

    <div id="messages" class="tab-pane fade">
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
    </div>
</div>


@section Scripts
{
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {


            $("#myModal").modal('show');



        });
        $("#btn_add").click(function () {


            $("#myModal").modal('show');
        });
    </script>
}
