.article-search {
    padding: 8px;
    border-bottom: 1px solid #dddddd;
}
 

        .datagrid {
    width: calc(100% - 200px);
    margin-top: 7px;
    margin-left: 8px;
}

.datagrid-columns {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    line-height: 40px;
    vertical-align: central;
    background-color: #eff3ff;
    border: 1px solid #63aeff;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    box-sizing: border-box;
    padding-right: 4px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    margin-bottom:16px;
}


/*------------------------------column------------------------------*/
.datagrid-column {
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    margin-left: 4px;
    color: white;
    text-align: center;
}

.datagrid-column-type {
    width: 80px; 
    background-color: #63aeff; 
}

.datagrid-column-url {
    width: 80px;
    text-align: left;
    padding-left: 8px;
    flex-grow: 1;
    color: #394152;
}

.datagrid-column-check {
    width: 24px;  
    text-align:center; 
}
 

    .datagrid-column-title {
        width: 80px;
        background-color: #4acf94;
        flex-grow: 1;
    }

.datagrid-line {
    background-color: #c6c3ce;
    margin-top: 8px;
}

/*------------------------------row------------------------------*/
.datagrid-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    line-height: 40px;
    vertical-align: central;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    padding-right: 4px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    cursor:pointer;
    margin-top:8px;
}

.datagrid-cell {
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    margin-left: 4px;
}

/*------------------------------row-get------------------------------*/
.datagrid-row-get {
    background-color: #eff3ff;
    border: 1px solid #63aeff;
}

.datagrid-cell-get {
    width: 80px;
    text-align: center;
    background-color: #63aeff;
    color: white; 
}

.datagrid-cell-url {
    width: 80px;
    text-align: left;
    color: #394152;
    padding-left: 8px;
    flex-grow: 1;
}

.datagrid-cell-title {
    width: 80px;
    text-align: left;
    color: #394152;
    padding-left: 8px;
    flex-grow: 1;
    background-color: #4acf94;
}

.datagrid-row-post {
    background-color: #eff7f7;
    border: 1px solid #4acf94;
}

.datagrid-cell-post {
    width: 80px;
    text-align: center;
    background-color: #4acf94;
    color: white; 
}

.area-tool {
    position: absolute;
    top: 16px;
    right: 4px;
    bottom: 0px;
    width: 180px;
}
