
:root {
    --themecolor: #8cbe00;
}

.tree-icon-size {
    font-size:14px;
}

.cur-pointer {
    cursor: pointer;
}
/*--------------------------------------------------tab--------------------------------------------------*/
.tabContent {
    height: calc(100% - 42px);
}

    .tabContent iframe {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

/*--------------------------------------------------home--------------------------------------------------*/
a .navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.theme-color {
    background-color: var(--themecolor);
}

.theme-text-color {
    color: var(--themecolor);
}


.absolute-left-58 {
    left: 0;
    top: 58px;
    bottom: 0px;
    position: absolute;
}

.absolute-right-58 {
    right: 0;
    top: 58px;
    bottom: 0px;
    position: absolute;
}

.absolute-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}

.absolute-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0;
}

.w-240 {
    width: 240px;
}

.w-180 {
    width: 180px;
}

.hp-300 {
   height:300px;
}

.w-width-240 {
    width: calc(100% - 240px);
}

.w-width-180 {
    width: calc(100% - 180px);
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.padding {
    padding-top: 40px;
    padding-left: 32px;
}

/*----------------------------------------Toolbar*/

.tool-title {
    height: 40px;
    line-height: 40px;
    background-color: #f2f2f2;
    text-align: center;
    vertical-align: central;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: -2px;
}

.tool-item {
    height: 40px;
    line-height: 40px;
    vertical-align: central;
    padding-left: 15px;
    cursor: pointer;
    border-bottom: 1px solid #dee2e6 !important;
    font-size: 14px;
    color: var(--green);
}

.tool-item-img {
    width: 28px;
    height: 28px;
}

